authors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="prename" type="xs:string" />
              <xs:element name="surname" type="xs:string" />
              <xs:element minOccurs="0" name="date_of_birth">
                <xs:complexType>
                  <xs:attribute name="year" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="month" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="day" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>